.placeWrapper {
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.placeFilter {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.placeContainer {
  z-index: 5;
  color: white;
}
.placeContainer h2 {
  margin: 0;
}
