.LocalGuideMain {
  min-height: 100vh;

  background: url("../../assets/img/guide.jpg");
  background-position: center;
  background-size: cover;
  /* overflow: hidden; */
  background-attachment: fixed;
}

.LocalGuideContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
