.blogWrapper {
  background: url("../../assets/img/blog.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.filterBlog {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
}
.blogContainer {
  color: white;
  display: flex;
  z-index: 1;
}
.blog-left {
  flex: 1;
  padding: 0 100px;
}
.blog-left h2 {
  font-weight: 900;
  font-size: 48px;
}
.blog-left a {
  text-decoration: none;
  color: white;
  width: 100%;
  font-weight: 700;
}

.blog-right {
  flex: 1;
}
